<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Kdo Project</title>
    @Html.Partial("_AppStyles")
</head>
<body>
        @RenderBody()
</body>
</html>
